.cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;

  &__img {
    max-width: 30px;
  }

  &__span {
    margin-left: 5px;
  }
}