@import "../../../../styles/variables.scss";

.product-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  text-align: left;
  transition: ease 0.3s;

  &:hover {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  }

  &__img-container {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    min-width: 100%;
    cursor: pointer;
  }

  &__title {
    font-family: $header_font;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    height: 3em;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__author {
    margin-top: 10px;
    font-size: 13px;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__price {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: $header_font;

    &::after {
      content: "$";
    }
  }
}