@import "../../../../styles/variables.scss";

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  text-align: left;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;

  @media screen and (max-width: 850px) {
    max-width: 50%;
    box-sizing: border-box;
  }

  &:hover {
    -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  }

  &__img-container {
    height: 300px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    @media screen and (max-width: 850px) {
      height: auto;
    }
  }



  &__img {
    min-width: 100%;
    cursor: pointer;
  }

  &__title {
    font-family: $header_font;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
  }

  &__author {
    margin-top: 10px;
    font-size: 13px;
  }

  &__price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__price {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: $header_font;

    &::after {
      content: "$";
    }
  }
}