.product-details {
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
    .product-info {
      margin-bottom: 20px;
    }

    .cart-widget {
      width: 100%!important;
    }
  }
}